.swiperDiv {
    width: 100%;
    height: 2.25rem;
}

.swiperDiv img {
    width: 100%;
    height: 2.25rem;
}

.notice {
    width: 100%;
    height: 0.25rem;
    background: #252932;
}

.notice .noticeLogo {
    width: 0.4rem;
    height: 0.25rem;
    background: #f35a4a;
}

.notice .noticeLogo i {
    display: block;
    width: 0.4rem;
    height: 0.25rem;
    background: url(../images/svg/notice_icon.svg) no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
}

.notiveText {
    font-size: 0.12rem;
    color: #fff;
    width: 3rem;
    position: relative;
    top: -0.31rem;
    left: 0.5rem;
}

.navDiv {
    width: 100%;
    height: 0.5rem;
    display: table;
    font-size: 0.12rem;
    color: #898989;
}

.navDiv .navList {
    display: table-cell;
    text-align: center;
    padding-top: 0.09rem;
}

.navList a {
    font-size: 0.12rem;
    color: #898989;
    text-decoration: none;
}

.navList div {
    width: 0.26rem;
    height: 0.20rem;
    margin: 0 auto;
    font-size: 0.12rem;
}

.navList .zchy {
    background: url(../images/svg/nav_register_icon.svg) no-repeat;
}

.navList .ljdl {
    background: url(../images/svg/nav_user_icon.svg) no-repeat;
}

.navList .yhhd {
    background: url(../images/svg/nav_gift_icon.svg) no-repeat;
}

.navList .zxkf {
    background: url(../images/svg/nav_service_icon.svg) no-repeat;
}

.blank {
    width: 100%;
    height: 0.15rem;
    background-color: #f2f2f2;
}

.gameBtnDiv {
    width: 100%;
    height: 0.9rem;
}

.gameBtnDiv p {
    display: block;
    width: 0.9rem;
    height: 0.4rem;
    margin: 0 auto;
    background: url(../images/text_game.png) no-repeat;
    background-size: 100%;
    top: 0.25rem;
    position: relative;
}

.gameListDiv {
    width: 100%;
    height: 2.5rem;
    /*background: url(../images/line_01.png) no-repeat;
    background-size: 100%;
    background-position-y: 27%;*/
}

.line1, .line2 {
    display: table;
    font-size: 12px;
    color: #898989;
    width: 100%;
    height: 0.9rem;
    position: relative;
}

.line1 .gameCell {
    display: table-cell;
    text-align: center;
    width: 20%;
}

.line2 .gameCell {
    display: table-cell;
    text-align: center;
    width: 20%;
}

.gameListDiv .gameCell div {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    border-radius: 100rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.gameListDiv .navPT {
    background: url(../images/indeximg/64x64_pt.png) no-repeat;
    background-size: 100%;
        background-size: 70%;
    background-position: 50% 50%;
}

.gameListDiv .navPT {
    background: url(../images/indeximg/64x64_pt.png) no-repeat;
    background-size: 100%;
        background-size: 70%;
    background-position: 50% 50%;
}

.gameListDiv .navMG {
    background: url(../images/indeximg/64x64_mg.png) no-repeat;
    background-size: 100%;
        background-size: 70%;
    background-position: 50% 50%;
}

.gameListDiv .navTTG {
    background: url(../images/indeximg/64x64_tt.png) no-repeat;
    background-size: 100%;
        background-size: 70%;
    background-position: 50% 50%;
}

.gameListDiv .navQT {
    background: url(../images/indeximg/64x64_qt.png) no-repeat;
    background-size: 100%;
        background-size: 70%;
    background-position: 50% 50%;
}

.gameListDiv .navGG {
    background: url(../images/indeximg/64x64_gg.png) no-repeat;
    background-size: 100%;
        background-size: 70%;
    background-position: 50% 50%;
}

.gameListDiv .navBBIN {
    background: url(../images/indeximg/64x64_bbin.png) no-repeat;
    background-size: 100%;
        background-size: 70%;
    background-position: 50% 50%;
}

.gameListDiv .navAG {
    background: url(../images/indeximg/64x64_ag.png) no-repeat;
    background-size: 100%;
        background-size: 70%;
    background-position: 50% 50%;
}

.input {
    width: 87%;
    height: auto;
    margin: 0 auto;
}

.input_01 {
    width: 94%;
    line-height: 0.2rem;
    height: 0.2rem;
    padding: 0.14rem 3% 0.14rem 3%;
    margin: 0.07rem  auto;
    font-size: 0.16rem;
    border-style: none;
    border-radius: 2px;
    border: 1px solid #CCC;
    font-family: "arial" "Microsoft YaHei";
    color: #484848;
    text-align: center;
}

.login_btn {
    width:2.8rem;
    height: 0.48rem;
    margin: 0.32rem auto;
    background: #f35a4a;
    border-radius: 3px;
    line-height: 0.48rem;
    text-align: center;
    font-size: 0.17rem;
    color: #FFF;
}

.login_btn li {
    line-height: 0.48rem;
    text-align: center;
    font-size: 0.17rem;
    color: #FFF;
}

.lefttext {
    font-size: 0.18rem;
    color: #959595;
    text-align: center;
}

.lefttext a {
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    color: #f35a4a;
}

.selectDiv {
    width: 100%;
    height: 0.3rem;
    background-color: #323436;
    position: fixed;
    z-index: 99;
}

.selectDiv .selectBtn {
    width: 1rem;
    height: 0.16rem;
    color: #fff;
    font-size: 0.13rem;
    margin: 0 auto;
    position: relative;
    top: 0.07rem;
}

.selectBtn i {
    width: 0.15rem;
    height: 0.15rem;
    display: block;
    background: url(../images/activity/select_arrow.svg) no-repeat;
    background-size: 100%;
    float: right;
}

.ptgamebox {
    width: 30%;
    padding-bottom: 0%;
    float: left;
    margin-top: 10px;
    margin-left: 2.5%;
}

.ptgamebox p {
    width: 100%;
    padding-bottom: 0%;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}

img {
    width: 100%;
    height: auto;
}

.ptgamebox span {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.12rem;
}

table.act_menu {
    width: 100%;
    height: 2rem;
    border-collapse: collapse;
}

table.act_menu td {
    width: 25%;
    height: 1rem;
    text-align: center;
    font-size: 0.14rem;
    color: #959595;
}

table.act_menu td li {
    width: 0.35rem;
    height: 0.25rem;
    margin: 0 auto;
    margin-bottom: 0.05rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "arial" "Microsoft YaHei";
}

.accdeposit_icon {
    background: url(../images/svg/money_icon.svg) no-repeat;
}

.accqukuan_icon {
    background: url(../images/svg/qukuan.svg) no-repeat;
}

.acctransfer_icon {
    background: url(../images/svg/transfer_icon.svg) no-repeat;
}

.accrecord_icon {
    background: url(../images/svg/record_icon.svg) no-repeat;
}

.accbank_icon {
    background: url(../images/svg/bank_icon.svg) no-repeat;
}

.luckybag_icon {
    background: url(../images/indeximg/90x90_luckybag.png) no-repeat;
        background-size: 73%;
    background-position: 50%;
}

.rescue_icon {
    background: url(../images/indeximg/90x90_rescue.png) no-repeat;
        background-size: 73%;
    background-position: 50%;
}

.luckyreward_icon {
    background: url(../images/indeximg/90x90_luckyreward.png) no-repeat;
        background-size: 73%;
    background-position: 50%;
}

.actmain {
    width: 100%;
    height: 2.08rem;
    background: url(../images/account_bg.jpg);
    background-size: 100% 100%;
    padding-top: 0.32rem;
}

.actuesr_icon {
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/svg/user_icon.svg) no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

.act_usname, .act_usname ul li {
    width: 100%;
    height: 0.32rem;
    line-height: 0.32rem;
    color: #FFF;
    font-size: 0.17rem;
    text-align: center;
    font-weight: bold;
}

.act_usname, .act_usname ul li {
    width: 100%;
    height: 0.32rem;
    line-height: 0.32rem;
    color: #FFF;
    font-size: 0.17rem;
    text-align: center;
    font-weight: bold;
}

.act_profile ul li {
    height: 0.32rem;
    line-height: 0.32rem;
    color: #FFF;
    font-size: 0.14rem;
    text-align: right;
    padding-right: 0.2rem;
}

.act_profile a {
    display: none;
}

.act_balance {
    width: 100%;
    height: 0.49rem;
    padding-top: 0.16rem;
    border-top: 1px solid #ad6277;
}

.act_balance .act_number {
    width: 35%;
    height: 0.32rem;
    float: left;
    border-right: 1px solid #ad6277;
}

.act_balance .act_number ul li {
    height: 0.16rem;
    color: #FFF;
    font-size: 0.12rem;
    margin-left: 0.2rem;
    text-align: left;
}

.act_balance .act_number {
    width: 35%;
    height: 0.32rem;
    float: left;
    border-right: 1px solid #ad6277;
}

.act_balance .act_otr {
    width: 26%;
    height: 0.32rem;
    float: left;
}

.act_balance .act_otr ul li {
    height: 0.16rem;
    color: #FFF;
    font-size: 0.12rem;
    text-align: center;
}

.pimage {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ptext_title {
    width: 90%;
    height: 0.22rem;
    padding-top:0.1rem;
    font-size: 0.14rem;
    margin: 0 auto;
    color: #313131;
    border-bottom: 1px solid #dcdcdc;
    text-align: left;
}

.pmain_text {
    width: 90%;
    height: auto;
    font-size: 0.14rem;
    padding-top: 1%;
    margin: 0 auto;
    text-align: left;
}

.pmain_text li {
    width: 100%;
    line-height: 0.18rem;
    padding-top: 0.08rem;
    font-size:0.14rem;
    color: #313131;
    font-weight: bold;
    text-align: left;
}

.pback {
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    padding-top: 10%;
    margin: 0 auto;
}

.pback .pback_btn {
    width: 40%;
    line-height: 0.4rem;
    background: #323436;
    margin: 0 auto;
    font-size: 0.17rem;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

.bg-f2f2f2{
    background-color: #f2f2f2;
}

.inputtwo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.mm_main{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 0.7rem;
}
.sex li {
    line-height: 0.4rem;
    font-size: 0.12rem;
    color: #464646;
    padding: 0 0.1rem;
    background-color: #ffffff;
    margin-bottom: 1px;
}
.sex li i {
    width: 0.06rem;
    height: 0.06rem;
    float: right;
    margin-top:0.14rem;
    border: 3px solid #d0d0d0;
    border-radius: 50%;
}

.h-left div{
    width: 0.3rem;
    height:0.3rem;
}
.h-center span{
    display: block;
    text-align: center;
    font-size: 0.17rem;
}
.bankmenu {
    width: 2.78rem;
    height: 0.28rem;
    margin:0.2rem auto 0.15rem auto;
    border: 1px solid #f35a4a;
    border-radius: 5px;
}
.bankmenu .btnshow {
    color: #fff;
    background: #f35a4a;
}
.bankmenu .emailbtn {
    width: 1.39rem;
    line-height: 0.28rem;
    color: #666666;
    text-align: center;
    float: left;
    border-radius: 3px 0px 0px 3px;
}
.bankmenu .tkbtn {
    width: 1.39rem;
    line-height: 0.28rem;
    color: #666666;
    text-align: center;
    float: right;
    border-radius: 0px 3px 3px 0px;
}
.addbankcard {
    width: 2.76rem;
    height: 1.06rem;
    margin: 0 auto 0.15rem auto;
    border-radius: 5px;
    border: 2px dashed #666;
}
.addbankcard li {
    width: 0.4rem;
    height:0.4rem;
    margin: 0.3rem auto;
    background: url(../images/svg/jia.svg);
}
.addbankcard li a {
    display: none;
}
.accarrow {
    width: 100%;
    height: 0.53rem;
    padding-top: 5px;
}
.accarrow li {
    width: 0.38rem;
    height: 0.48rem;
    margin: auto;
    background: url(../images/arrow.gif) no-repeat center center;
    background-size: 100%;
}
.vcode {
    width: 0.5rem;
    height: 0.3rem;
    float: right;
    margin-top: -0.47rem;
    position: absolute;
    display: inline-block;
    left: 2.8rem;
}